body{
    background-color: #ccc;
}

.caixa-login
{
   background-color: #fff; 
   border-radius: 5px;
   padding: 1rem;
}

.conteudo{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
}